h1 {
    font-family: 'Permanent Marker';font-size: 122px
}

th {
    font-family: 'Permanent Marker';font-size: 30px;
    text-align: center;
}
td {font-family: 'Permanent Marker';font-size: 24px;
    text-align: center;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #474e5d;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    /*width: 30%;*/
    border: 1px solid #474e5d;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}

input{
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 25px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    /*width: 30%;*/
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;

}

